
.background-pagecolor {
    background-color: rgb(255, 255, 255);
    outline: auto;
}
.background-sect-duckscolor {
    background-color: green;
    outline: auto;
}
.background-sect-beaverscolor {
    background-color: orangered;
    outline: auto;
}
.background-ftr {
    color: red;
}
header h1 {
    color: rgba(157, 0, 255, 0.603);
    margin: auto;
    padding: auto;
    text-align: center;
}
h2 {
    outline: auto;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: auto;
    text-align: center;
    text-emphasis: color;
}
#user-input {
    color: black;
    outline: auto;
    margin: auto;
    padding: auto;
    text-align: center;
}
.txt-header-uoocolor {
    color: rgb(233, 233, 54);
    margin: auto;
    padding: auto;
    text-align: center;
}
.txt-osucolor {
    color: orange;
    margin: auto;
    padding: auto;
    text-align: center;
}

.imgducks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.imgbeavers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.background-navbar {
    background-color: black;
}

.txt-p-uocolor {
    color: yellow;
}

.txt-p-osucolor {
    color: black;
}